[Unit]
Description=api.tree.science
After=network.target

[Service]
User=isidentical
Group=www-data
WorkingDirectory=/home/isidentical/reiz.io
Environment="PATH=/home/isidentical/reiz.io/.venv/bin"
ExecStart=python -m reiz.web.asgi

[Install]
WantedBy=multi-user.target
