on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

name: Tests

jobs:
  test:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Copy reiz config
      run: |
        mkdir -p ~/.local/
        mkdir -p .temp_reiz
        cp static/configs/ci_config.json ~/.local/reiz.json

    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt
        python -m pip install -r requirements-dev.txt
        python -m pip install -e .

    - name: Install EdgeDB
      uses: edgedb/setup-edgedb@v1
      with:
        server-version: nightly

    - name: Test
      env:
        EDGEDB_SERVER_BIN: edgedb-server
      run: |
        # These tests doesn't work well with EdgeDB alpha 7, which is what
        # we have in the CI. So until the newer version is released, we are
        # just going to skip them
        coverage run test_cases/runner.py --change-db-schema \
        --start-edgedb-server --run-benchmarks || true
        coverage xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.0.13
      with:
        file: ./coverage.xml
        fail_ci_if_error: false
